In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('ibm.csv')

FileNotFoundError: File b'ibm.csv' does not exist

In [3]:
data.head(20)

,Domain Code,Domain,Survey Code,Survey,Breakdown Variable Code,Breakdown Variable,Breadown by Sex of the Household Head Code,Breadown by Sex of the Household Head,Indicator Code,Indicator,Measure Code,Measure,Unit,Value,Flag,Flag Description
0,HS,"Indicators from Household Surveys (gender, are...",1620002001,Bangladesh - 2000-2001,20008,Country-level,20002,Male-headed household,6061,Total consumption in monetary value,6076,Mean,LCU/person/day,28.66410,CS,NaN
1,HS,"Indicators from Household Surveys (gender, are...",1620002001,Bangladesh - 2000-2001,20008,Country-level,20002,Male-headed household,6061,Total consumption in monetary value,6077,Median,LCU/person/day,22.33620,CS,NaN
2,HS,"Indicators from Household Surveys (gender, are...",1620002001,Bangladesh - 2000-2001,20008,Country-level,20002,Male-headed household,6061,Total consumption in monetary value,6078,Standard Deviation,LCU/person/day,26.41730,CS,NaN
3,HS,"Indicators from Household Surveys (gender, are...",1620002001,Bangladesh - 2000-2001,20008,Country-level,20002,Male-headed household,6061,Total consumption in monetary value,6079,Number Observations,LCU/person/day,6772.00000,CS,NaN
4,HS,"Indicators from Household Surveys (gender, are...",1620002001,Bangladesh - 2000-2001,20008,Country-level,20001,Female-headed household,6061,Total consumption in monetary value,6076,Mean,LCU/person/day,31.25420,CS,NaN
5,HS,"Indicators from Household Surveys (gender, are...",1620002001,Bangladesh - 2000-2001,20008,Country-level,20001,Female-headed household,6061,Total consumption in monetary value,6077,Median,LCU/person/day,23.89330,CS,NaN
6,HS,"Indicators from Household Surveys (gender, are...",1620002001,Bangladesh - 2000-2001,20008,Country-level,20001,Female-headed household,6061,Total consumption in monetary value,6078,Standard Deviation,LCU/person/day,25.62070,CS,NaN
7,HS,"Indicators from Household Surveys (gender, are...",1620002001,Bangladesh - 2000-2001,20008,Country-level,20001,Female-headed household,6061,Total consumption in monetary value,6079,Number Observations,LCU/person/day,666.00000,CS,NaN
8,HS,"Indicators from Household Surveys (gender, are...",1620002001,Bangladesh - 2000-2001,20008,Country-level,20002,Male-headed household,6062,Food consumption in monetary value,6076,Mean,LCU/person/day,14.75810,CS,NaN
9,HS,"Indicators from Household Surveys (gender, are...",1620002001,Bangladesh - 2000-2001,20008,Country-level,20002,Male-headed household,6062,Food consumption in monetary value,6077,Median,LCU/person/day,13.13360,CS,NaN
10,HS,"Indicators from Household Surveys (gender, are...",1620002001,Bangladesh - 2000-2001,20008,Country-level,20002,Male-headed household,6062,Food consumption in monetary value,6078,Standard Deviation,LCU/person/day,6.97644,CS,NaN
11,HS,"Indicators from Household Surveys (gender, are...",1620002001,Bangladesh - 2000-2001,20008,Country-level,20002,Male-headed household,6062,Food consumption in monetary value,6079,Number Observations,LCU/person/day,6772.00000,CS,NaN
12,HS,"Indicators from Household Surveys (gender, are...",1620002001,Bangladesh - 2000-2001,20008,Country-level,20001,Female-headed household,6062,Food consumption in monetary value,6076,Mean,LCU/person/day,15.43360,CS,NaN
13,HS,"Indicators from Household Surveys (gender, are...",1620002001,Bangladesh - 2000-2001,20008,Country-level,20001,Female-headed household,6062,Food consumption in monetary value,6077,Median,LCU/person/day,13.38890,CS,NaN
14,HS,"Indicators from Household Surveys (gender, are...",1620002001,Bangladesh - 2000-2001,20008,Country-level,20001,Female-headed household,6062,Food consumption in monetary value,6078,Standard Deviation,LCU/person/day,8.63075,CS,NaN
15,HS,"Indicators from Household Surveys (gender, are...",1620002001,Bangladesh - 2000-2001,20008,Country-level,20001,Female-headed household,6062,Food consumption in monetary value,6079,Number Observations,LCU/person/day,666.00000,CS,NaN
16,HS,"Indicators from Household Surveys (gender, are...",1620002001,Bangladesh - 2000-2001,20008,Country-level,20002,Male-headed household,6063,Dietary energy consumption,6076,Mean,kcal/capita/day,2199.97000,CS,NaN
17,HS,"Indicators from Household Surveys (gender, are...",1620002001,Bangladesh - 2000-2001,20008,Country-level,20002,Male-headed household,6063,Dietary energy consumption,6077,Median,kcal/capita/day,2144.61000,CS,NaN
18,HS,"Indicators from Household Surveys (gender, are...",1620002001,Bangladesh - 2000-2001,20008,Country-level,20002,Male-headed household,6063,Dietary energy consumption,6078,Standard Deviation,kcal/capita/day,562.91000,CS,NaN
19,HS,"Indicators from Household Surveys (gender, are...",1620002001,Bangladesh - 2000-2001,20008,Country-level,20002,Male-headed household,6063,Dietary energy consumption,6079,Number Observations,kcal/capita/day,6772.00000,CS,NaN

In [4]:
data.drop(['Domain Code','Breadown by Sex of the Household Head', 'Indicator', 'Measure','Flag','Flag Description', 'Survey','Breakdown Variable'], axis = 1, inplace = True)

In [5]:
data.head()

,Domain,Survey Code,Breakdown Variable Code,Breadown by Sex of the Household Head Code,Indicator Code,Measure Code,Unit,Value
0,"Indicators from Household Surveys (gender, are...",1620002001,20008,20002,6061,6076,LCU/person/day,28.6641
1,"Indicators from Household Surveys (gender, are...",1620002001,20008,20002,6061,6077,LCU/person/day,22.3362
2,"Indicators from Household Surveys (gender, are...",1620002001,20008,20002,6061,6078,LCU/person/day,26.4173
3,"Indicators from Household Surveys (gender, are...",1620002001,20008,20002,6061,6079,LCU/person/day,6772.0000
4,"Indicators from Household Surveys (gender, are...",1620002001,20008,20001,6061,6076,LCU/person/day,31.2542

In [6]:
data['Unit'].unique()

array(['LCU/person/day', 'kcal/capita/day', 'g/capita/day', '%',
       '(LCU/1000 kcal)'], dtype=object)

In [7]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['Unit'] = le.fit_transform(data['Unit'])
data['Domain'] = le.fit_transform(data['Domain'])

In [37]:
data['Survey Code'].unique()

array([ 1620002001,      162005,     1152004,     1152009,      591997,
        8119981999,      972004,     1032007, 11420052006,     1332001,
           1382004,     1382006,     1382008, 14919951996, 16520052006,
           1681996,     1712003,  3819992000,     2082007, 22620022003,
       22620052006,     2372006], dtype=int64)

In [35]:
data.head(60)

,Domain,Survey Code,Breakdown Variable Code,Breadown by Sex of the Household Head Code,Indicator Code,Measure Code,Unit,Value
0,0,1620002001,20008,20002,6061,6076,2,28.66410
1,0,1620002001,20008,20002,6061,6077,2,22.33620
2,0,1620002001,20008,20002,6061,6078,2,26.41730
3,0,1620002001,20008,20002,6061,6079,2,6772.00000
4,0,1620002001,20008,20001,6061,6076,2,31.25420
5,0,1620002001,20008,20001,6061,6077,2,23.89330
6,0,1620002001,20008,20001,6061,6078,2,25.62070
7,0,1620002001,20008,20001,6061,6079,2,666.00000
8,0,1620002001,20008,20002,6062,6076,2,14.75810
9,0,1620002001,20008,20002,6062,6077,2,13.13360
10,0,1620002001,20008,20002,6062,6078,2,6.97644
11,0,1620002001,20008,20002,6062,6079,2,6772.00000
12,0,1620002001,20008,20001,6062,6076,2,15.43360
13,0,1620002001,20008,20001,6062,6077,2,13.38890
14,0,1620002001,20008,20001,6062,6078,2,8.63075
15,0,1620002001,20008,20001,6062,6079,2,666.00000
16,0,1620002001,20008,20002,6063,6076,4,2199.97000
17,0,1620002001,20008,20002,6063,6077,4,2144.61000
18,0,1620002001,20008,20002,6063,6078,4,562.91000
19,0,1620002001,20008,20002,6063,6079,4,6772.00000
20,0,1620002001,20008,20001,6063,6076,4,2119.72000
21,0,1620002001,20008,20001,6063,6077,4,2054.63000
22,0,1620002001,20008,20001,6063,6078,4,606.34700
23,0,1620002001,20008,20001,6063,6079,4,666.00000
24,0,1620002001,20008,20002,6064,6076,3,56.56780
25,0,1620002001,20008,20002,6064,6077,3,54.32970
26,0,1620002001,20008,20002,6064,6078,3,16.89640
27,0,1620002001,20008,20002,6064,6079,3,6772.00000
28,0,1620002001,20008,20001,6064,6076,3,55.76240
29,0,1620002001,20008,20001,6064,6077,3,53.16790
30,0,1620002001,20008,20001,6064,6078,3,19.41320
31,0,1620002001,20008,20001,6064,6079,3,666.00000
32,0,1620002001,20008,20002,6065,6076,3,412.39000
33,0,1620002001,20008,20002,6065,6077,3,403.65600
34,0,1620002001,20008,20002,6065,6078,3,106.69000
35,0,1620002001,20008,20002,6065,6079,3,6772.00000
36,0,1620002001,20008,20001,6065,6076,3,390.77500
37,0,1620002001,20008,20001,6065,6077,3,381.24100
38,0,1620002001,20008,20001,6065,6078,3,107.91000
39,0,1620002001,20008,20001,6065,6079,3,666.00000
40,0,1620002001,20008,20002,6066,6076,3,29.91670
41,0,1620002001,20008,20002,6066,6077,3,27.55730
42,0,1620002001,20008,20002,6066,6078,3,11.90280
43,0,1620002001,20008,20002,6066,6079,3,6772.00000
44,0,1620002001,20008,20001,6066,6076,3,30.97870
45,0,1620002001,20008,20001,6066,6077,3,27.78290
46,0,1620002001,20008,20001,6066,6078,3,14.51670
47,0,1620002001,20008,20001,6066,6079,3,666.00000
48,0,1620002001,20008,20002,6067,6076,0,57.95070
49,0,1620002001,20008,20002,6067,6077,0,59.88250
50,0,1620002001,20008,20002,6067,6078,0,12.52060
51,0,1620002001,20008,20002,6067,6079,0,6772.00000
52,0,1620002001,20008,20001,6067,6076,0,55.88420
53,0,1620002001,20008,20001,6067,6077,0,57.91320
54,0,1620002001,20008,20001,6067,6078,0,12.96940
55,0,1620002001,20008,20001,6067,6079,0,666.00000
56,0,1620002001,20008,20002,6068,6076,0,10.27910
57,0,1620002001,20008,20002,6068,6077,0,9.92242
58,0,1620002001,20008,20002,6068,6078,0,1.42359
59,0,1620002001,20008,20002,6068,6079,0,6772.00000

In [9]:
x = data.iloc[:, 0:7].values
y = data.iloc[:, 7:8].values

In [10]:
y

array([[ 28.6641 ],
       [ 22.3362 ],
       [ 26.4173 ],
       ...,
       [  3.15501],
       [  2.02742],
       [404.     ]])

In [11]:
x

array([[         0, 1620002001,      20008, ...,       6061,       6076,
                 2],
       [         0, 1620002001,      20008, ...,       6061,       6077,
                 2],
       [         0, 1620002001,      20008, ...,       6061,       6078,
                 2],
       ...,
       [         0,    2372006,      20030, ...,       6075,       6077,
                 1],
       [         0,    2372006,      20030, ...,       6075,       6078,
                 1],
       [         0,    2372006,      20030, ...,       6075,       6079,
                 1]], dtype=int64)

In [12]:
x.shape

(45660, 7)

In [13]:
y.shape

(45660, 1)

In [14]:
from sklearn.preprocessing import OneHotEncoder
oh = OneHotEncoder()
z=oh.fit_transform(x[:,6:7]).toarray()

In [15]:
z

array([[0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0.],
       ...,
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.]])

In [16]:
x.shape

(45660, 7)

In [17]:
x=np.delete(x,[4],axis=1)

In [18]:
x.shape

(45660, 6)

In [19]:
x=np.concatenate((z,x),axis = 1)

In [20]:
x.shape

(45660, 11)

In [21]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [22]:
x_test.shape

(9132, 11)

In [23]:
y_test.shape

(9132, 1)

In [24]:
x_train.shape

(36528, 11)

In [25]:
y_train.shape

(36528, 1)

In [26]:
# for classification we have to apply standard scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

RANDOM FOREST REGRESSOR

In [27]:
from sklearn.ensemble import RandomForestRegressor
rand =RandomForestRegressor(n_estimators = 10, random_state=0) 
rand.fit(x,y)

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d
C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [28]:
ypred1=rand.predict(x)

In [29]:
ypred1

array([ 20.96944667,  19.697334  ,  16.05087833, ...,   3.042446  ,
         2.002848  , 404.        ])

In [30]:
y

array([[ 28.6641 ],
       [ 22.3362 ],
       [ 26.4173 ],
       ...,
       [  3.15501],
       [  2.02742],
       [404.     ]])

In [31]:
from sklearn.metrics import r2_score
acc2 = r2_score(y,ypred1)

In [32]:
acc2

0.9981025693986291

In [33]:
import pickle
pickle.dump(rand,open('foodibm.pkl','wb'))